.search-result-item{
    /* Auto Layout */

    
    padding: 16px 0px;
    color: #565656;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.0025em;

    /* Mono / Mörkare */

    color: #565656;

  

    &__title-link{
        text-decoration: none;
        color:#AE0B05;
    }

    &__title-link:visisted{
        color:#AE0B05;
    }

    &__title-link:hover{
        color:#AE0B05;
    }

    &__link-prefix{
        font-weight: 700;
    }

    &__parent-title-link:visisted{
        color:#AE0B05;
    }

   
}


.search-modal{
    background-color: unset;
    box-shadow: none;
    
    & {
        .c-field,
        .c-button {
            display: inline-block;
            margin-bottom: 8px;
        }

        .c-field{
            & input {
                width:600px;
            }
        }
    }

    
}